body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Обеспечивает, чтобы футер всегда был внизу */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1e1e1e;
  padding: 15px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header a {
  color: #e0e0e0;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

header a:hover {
  color: #ffd700;
}

.container {
  padding-top: 80px;
  text-align: center;
  flex: 1; /* Заставляет контейнер занимать все оставшееся пространство */
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffd700;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.project {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.project h3 {
  margin: 10px 0;
  color: #ffd700;
}

.project a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.project a:hover {
  color: #ffd700;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #999;
  background-color: #1e1e1e;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Гарантирует, что футер будет внизу */
}

/* Анимация */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.project-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.project-carousel-inner {
  display: flex;
  animation: scrollRightToLeft 30s linear infinite;
}

.project-carousel img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px; 
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.contact-container {
  position: absolute;
  top: 80px;  /* Отступ под шапку */
  left: 20px;  /* Отступ от левого края */
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  max-width: 300px;
}

.contact-container h1 {
  font-size: 24px;
  color: #ffd700;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: 18px;
}

ul li a {
  color: #ffd700;
  text-decoration: none;
}

ul li a:hover {
  color: #e0e0e0;
}
